<h2>Add new race</h2>

<form action="/races" method="post">
  <p>Name</p>
  <p><input type="text" name="name" placeholder="Name" class="input-race-name"></p>

  <p>Description</p>
  <p><input type="text" name="description" placeholder="Description" class="input-race-description"></p>

  <p><input type="submit" class="add-race"></p>
</form>
