<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/lib/require.js", data-main="/javascripts/require.config.js"></script>
  </head>
  <body>
    <header>
      <h1>Starcraft app</h1>
      <nav>
        <a href="/#">Races</a>
        <a href="/#planets">Planets</a>
        <a href="/heroes">Heroes</a>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
