<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <header>
      <h1><a href="/">Starcraft app</a></h1>
      <nav>
        <a href="/#races">Races</a>
        <a href="/#planets">Planets</a>
        <a href="/heroes">Heroes</a>
      </nav>
    </header>
    {{{body}}}
    <script src="/javascripts/lib/require.js", data-main="/javascripts/require.config.js"></script>
  </body>
</html>
