<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Starcraft app</h1>
      <nav>
        <a href="/">Index</a>
        <a href="/races">Races</a>
        <a href="/planets">Planets</a>
        <a href="/heroes">Heroes</a>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
