<h2>Races index</h2>

<table>
  <tr>
    <th>Race</th>
    <th>Description</th>
    <th>Planets</th>
    <th>Heroes</th>
  </tr>

  {{#each races}}
    <tr>
      <td>{{_capitalize name}}</td>
      <td>{{_truncate description 180}}</td>
      <td>{{#planets}} {{_capitalize name}} {{/planets}}</td>
      <td>{{#heroes}} {{name}} {{/heroes}}</td>
    </tr>
  {{/each}}


</table>
