<h2>Add new race</h2>

<form action="/races" method="post">
  <p>Name</p>
  <p><input type="text" name="name" placeholder="Name"></p>

  <p>Description</p>
  <p><input type="text" name="description" placeholder="Description"></p>

  <p><input type="submit"></p>
</form>
